body {
  background-color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header {
  color: rgb(189, 191, 196);
  text-align: center;
  font-size: 3em;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin-top: 4.5em;
  color: whitesmoke;
}
/* form */
input {
  margin: 1rem 0;
  border: 1px solid black;
  border-radius: 3em;
}

.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

input[type='text'],
textarea {
  display: block;
  width: 95%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid rgb(136, 135, 135);
}

.card {
  padding: 2em;
  margin: 1em;
  border: 2px solid gray;
  border-radius: 1em;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}

.btn {
  display: inline-block;
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  display: block;
}

/* for mobile */
@media (max-width: 700px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.type {
  background-color: rgba(122, 15, 15, 0.4);
  color: red;
  font-weight: 500;
  border: 1px solid rgb(122, 15, 15);
  border-radius: 0.5em;
  font-size: 1em;
}

.details {
  position: fixed;
  top: 10%;
  left: 25%;
  z-index: 1000;
  background-color: rgba(0, 2, 10, 0.8);
  border: 3px solid rgb(100, 97, 97);
  border-radius: 2em;
  padding: 1em;
  color: whitesmoke;
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 30em;
}
